In [1]:
import pandas as pd
df=pd.read_csv("C:/Users/Rahul Bhat/Downloads/gen.csv")
df.head()

   1980  Jan  22.13   23.5  5.87  mandya.xls    0.27
0  1980  Feb  24.16  22.39  6.52  mandya.xls    2.69
1  1980  Mar  26.04  24.43  7.21  mandya.xls   30.48
2  1980  Apr  27.03  36.90  7.26  mandya.xls   12.83
3  1980  May  26.60  45.12  6.88  mandya.xls  116.82
4  1980  Jun  23.09  75.47  5.29  mandya.xls  416.76

In [2]:
for i in df:
    print(df[i].is_monotonic)

False
False
False
False
False
False
False

In [3]:
df.corr(method='pearson')

           1980     22.13      23.5      5.87      0.27
1980   1.000000 -0.006252  0.012344  0.008500  0.012212
22.13 -0.006252  1.000000 -0.266426  0.646530 -0.141930
23.5   0.012344 -0.266426  1.000000 -0.675761  0.687188
5.87   0.008500  0.646530 -0.675761  1.000000 -0.526892
0.27   0.012212 -0.141930  0.687188 -0.526892  1.000000